@page "/"
@using System.Text.Json
@using static System.Net.WebRequestMethods
@using Img2mc.Shared
@using BlazorWebAssembly.Client.Core

@inject HttpClient Http
@inject ImageReconstructor imageReconstructor

@code {
    int blockSize = 8;
    public string BlockSizeString => blockSize.ToString() + "px";

    protected override async Task OnInitializedAsync()
    {
        var path = "images/tex_metadata.json";
        string json = await Http.GetStringAsync(path);
        imageReconstructor.blockData = JsonSerializer.Deserialize<MinecraftBlock[]>(json) ?? new MinecraftBlock[0];
        imageReconstructor.OnOutputChanged += StateHasChanged;
    }

    ~Index()
    {
        imageReconstructor.OnOutputChanged -= StateHasChanged;
    }

    private void SelectedFileChanged(InputFileChangeEventArgs args)
    {
        Console.WriteLine($"File Selected: {args.File.Name} ||| is: {args.File.ContentType}");
        imageReconstructor.ReadFile(args.File.OpenReadStream(maxAllowedSize: 52428800));
    }
}

<PageTitle>Img2Mc</PageTitle>

<MudSlider Min="16" Max="128" @bind-Value="imageReconstructor.MaxOutputImageSize" Style="width: 200px" /> @imageReconstructor.MaxOutputImageSize
<MudSlider Min="3" Max="16" @bind-Value="blockSize" Style="width: 200px" />

<p style="--block-size: @BlockSizeString"> Block Size is currently @BlockSizeString </p>

Please Select an image file:

<InputFile OnChange="SelectedFileChanged"></InputFile> 

@if(imageReconstructor.OutputTextures != null)
{
    <div>Output texture is not null here</div>
    <table>
        <thead></thead>
        @for (int row = 0; row < imageReconstructor.OutputRows; row++)
        {
            <tr class="mc_row" style="--block-size: @BlockSizeString">
                @for (int column = 0; column < imageReconstructor.OutputColumns; column++)
            {
                <td class="mc_block">
                        <img src="images/mc_textures/@imageReconstructor.OutputTextures[column, row].fileName" class="mc_block" />
                    
                </td>
            }
            </tr>
        }
    </table>
}

<h2>Required blocks</h2>
<ol>
    @foreach (var pair in imageReconstructor.blockCounts.OrderByDescending(x => x.Value))
{
    <li>
        <img src="images/mc_textures/@pair.Key.FirstTexture" /> @pair.Key.blockName x @pair.Value
    </li>
}
</ol>


<!-- take this out for now.
<table>
    <thead>
        <tr>
            <th scope="col">Texture</th>
            <th scope="col">Block</th>
            <th scope="col">RGB</th>
        </tr>
    </thead>
    @@foreach (var entry in textureData)
    {
        <tr>
            <td><img src="images/mc_textures/@@entry.fileName" /></td>
            <td>@@entry.blockName</td>
            <td style="background-color: @@entry.averageRGB.AsHexString()">@@entry.averageRGB</td>
        </tr>
    }
</table>
-->
